-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: hablemos_yhwh
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `dynamic_sections`
--

LOCK TABLES `dynamic_sections` WRITE;
/*!40000 ALTER TABLE `dynamic_sections` DISABLE KEYS */;
REPLACE INTO `dynamic_sections` VALUES (1,'Hablemos de YHWH','hero','inline','Descubre las ra├â┬¡ces hebreas de tu fe','Contenido descriptivo aqu├â┬¡...','bi-house',NULL,0,1,1,'home_section_hero','2026-02-24 12:08:30','2026-05-14 00:29:38'),(2,'Calendario Lunisolar','calendario','inline','Sigue los tiempos se├â┬▒alados','Informaci├â┬│n sobre el calendario...','bi-calendar3',NULL,0,1,1,'home_section_calendario','2026-02-24 12:08:30','2026-05-14 00:29:38'),(5,'Sobre Nosotros','about','inline',NULL,NULL,'bi-file-text',NULL,0,1,1,NULL,'2026-05-15 00:00:48','2026-05-15 00:00:48'),(12,'Identidad','identidad','inline','Instroduccion a descrubri nuestra identidad conforme a la voluntad de YHWH, y lo que las escrituras nos revelan','La serie completa ense┬▒a que la identidad del creyente no se construye desde emociones, cultura, religi┬¥n o experiencias personales, sino desde lo que YHWH declara en Su Palabra. A lo largo de los cuatro videos, se muestra que la humanidad perdi┬¥ su identidad original al separarse del Creador, y que Yeshua es quien la restaura, devolviendo prop┬¥sito, direcci┬¥n y sentido.\r\n\r\nLa serie revela que muchas personas viven desde identidades distorsionadas ├╣marcadas por heridas, etiquetas humanas, expectativas sociales o patrones mentales antiguos├╣ y por eso experimentan confusi┬¥n, inseguridad o falta de prop┬¥sito. La verdadera identidad se recupera cuando el creyente renueva su mente, escucha la voz del Creador por encima de las voces externas y se alinea con la perspectiva b├Øblica original.\r\n\r\nFinalmente, la identidad en Yeshua no es un concepto te┬¥rico, sino una forma de vida pr├ƒctica: se recibe, se aprende, se vive y se expresa en decisiones, car├ƒcter, obediencia y comunidad. La serie concluye afirmando que caminar en la identidad restaurada es un proceso continuo que transforma cada ├ƒrea de la vida y permite al creyente reflejar la naturaleza de YHWH en el mundo.','bi-file-text',NULL,0,1,1,'identidad_items','2026-06-19 14:17:23','2026-06-19 14:35:02');
/*!40000 ALTER TABLE `dynamic_sections` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 12:21:20
-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: hablemos_yhwh
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `identidad_items`
--

DROP TABLE IF EXISTS `identidad_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `identidad_items` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `title` varchar(255) DEFAULT NULL,
  `subtitle` varchar(255) DEFAULT NULL,
  `description` text DEFAULT NULL,
  `content` text DEFAULT NULL,
  `youtube_link` varchar(255) DEFAULT NULL,
  `image_url` varchar(255) DEFAULT NULL,
  `pdf_file` varchar(255) DEFAULT NULL,
  `parasha_number` int(11) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `identidad_items`
--

LOCK TABLES `identidad_items` WRITE;
/*!40000 ALTER TABLE `identidad_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `identidad_items` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-19 12:21:20
